<!--
Vista de detalle de evento.
-->
<ion-view view-title="Ver artículo">

<ion-nav-bar class="bar bar-assertive colorBarra">
<ion-nav-back-button>
</ion-nav-back-button>


<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>

<ion-nav-buttons side="right">




<button   ng-if="!editing"class="button button-icon button-clear ion-edit" ng-click="startEdit()"></button>
<button  ng-if="editing" class="button button-icon button-clear ion-checkmark-round" ng-click="saveEdit()"></button>
<button  ng-if="editing" class="button button-icon button-clear ion-close-round" ng-click="discardEdit()"></button>
<button  ng-if="!editing"class="button button-icon button-clear ion-trash-a" ng-click="delete()"></button>
</ion-nav-buttons>

</ion-nav-bar>
<ion-content class="description-background" style="background-color: #d3eae9;">
<div class="list card">
<div class="item item-divider colorBarra">
    <span style="color:white;">Información del artículo</span>
  </div>
	<div class="item">
		<div class="row">
			<div class="col col-20"><img src="img/article.png" class="left-image"></div>
			<div  class="col">
				<span ng-show="!editing" ng-show="editing" class="nombreArticulo">{{article.name}}</span>
				<input ng-show="editing" type="text" class="editinput" placeholder="E.g: 44 " ng-model="article.name">
				<br/>


				<span class="icon ion-pricetag" style="margin-right:10px;"></span>
				<span >{{article.category}}</span>
				<br/>
				<span class="icon ion-arrow-up-b" style="margin-right:10px;"></span>
				<span >ID: {{article.id}}</span>
				<input ng-show="false" type="text" class="editinput" placeholder="E.g: 44 " ng-model="article.category">
				<br/>

			</div>
		</div>


	</div>





	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label"><b>Precio base (€)</b></span></span>
			<span ng-show="!editing"> <br/>{{article.price}}</span>
			<input type="number" class="editinput" placeholder="E.g: 23.45€ " ng-model="article.price" ng-show="editing">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label"><b>IVA (€)</b></span></span>
			<span ng-show="!editing"> <br/>{{article.vat}}</span>
			<input type="number" class="editinput" placeholder="E.g: 21 " ng-model="article.vat" ng-show="editing">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label"><b>Precio final (€)</b></span></span>
			<span > <br/>{{article.price*(article.vat/100 + 1) | number : 2}}</span>

		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label"><b>Stock (uds)</b></span></span>
			<span ng-show="!editing"> <br/>{{article.stock}}</span>
			<input type="number" class="editinput" placeholder="E.g: 44 " ng-model="article.stock" ng-show="editing">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label"><b>Descripción</b></span>
			<textarea rows="5" ng-class="{'editinput':editing}" ng-readonly="!editing" type="text" placeholder="E.g: Este producto pretende revolucionar el mercado de las finanzas." ng-model="article.description"></textarea>
		</label>
	</div>

</div>




</ion-content>
</ion-view>
