<ion-view view-title="Lista de clientes">
<ion-nav-bar class="bar bar-assertive colorBarra">
<ion-nav-back-button>
</ion-nav-back-button>


<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>

<ion-nav-buttons side="right">
<button class="button button-icon button-clear ion-plus" ng-click="addClient()"></button>
</ion-nav-buttons>


</ion-nav-bar>
  <ion-content >
     <form ng-submit="buscar()"  class="search ng-cloak">
          <label class="item item-input  barraBusqueda" >
              <i class="icon ion-search placeholder-icon letraNegra"></i>
              <input type="search" ng-model="filtro" placeholder="Buscar por nombre">
          </label>
      </form>
    <ion-list>
 <div class="list">

    <a  ng-repeat="client in clients | filter:{ name: filtro }" class="item item-avatar" href="#" ng-click="displayClient(client.id)" >
      <img src="img/user.png">
      <h2>{{client.name}} {{client.surname}}</h2>
      <i class="icon ion-chevron-right icon-accessory" style="float:right;"></i>
      <p>ID Cliente: {{client.id}}</p>

    </a>

</div>
</ion-list>
  </ion-content>
</ion-view>
