<!--
Vista de detalle de evento.
-->
<ion-view view-title="PocketShop!">

<ion-nav-bar class="bar bar-assertive colorBarra">
<ion-nav-back-button>
</ion-nav-back-button>


<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>

<ion-nav-buttons side="right">

</ion-nav-buttons>

</ion-nav-bar>
<ion-content id="fhm_page" style="background-color:#2c505c;">
      <div class="fhm_container">
        <div class="fhm_row" >
          <div class="fhm_item_double" style="background-color: #84a39e;">
         
          <br/>
       
          <i class="icon ion-person-stalker principal fhm_text"></i>
          <img src="img/caixa_logo.png" class="logoCaixa">
          <br/>
          <br/>
            <span class="fhm_text">Bienvenido/a</span>
            <br/>
            <span style="color:white;">{{status}}</span>
          </div>
         
        </div>

        <div class="fhm_row" >
          <div class="fhm_item" style="background-color: #597e84;" ng-click="openMain()">
           
         
          <br/>
           <img class="imagenCircle" src="img/men1.jpg">
     
          <br/>
            <span class="fhm_text_small">John</span>
          </div>
          <div class="fhm_item" style="background-color: #476e75;" ng-click="openMain()">
            <br/>
           <img class="imagenCircle" src="img/women1.jpg">
          <br/>
        
            <span class="fhm_text_small">Isabel</span>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item" style="background-color: #3a6069;" ng-click="openMain()">
             <br/>
           <img class="imagenCircle" src="img/women2.jpg">
          
          <br/>
            <span class="fhm_text_small">Ana</span>
          </div>
          <div class="fhm_item" style="background-color: #2c505c;" ng-click="openMain()">
             <br/>
           <img class="imagenCircle" src="img/men2.jpg">
      
          <br/>
            <span class="fhm_text_small">Roberto</span>
          </div>
        </div>
      </div>
    </ion-content>
      
</ion-view>
