<!--
Vista de detalle de evento.
-->
<ion-view view-title="Añadir cliente">

<ion-nav-bar class="bar bar-assertive">
<ion-nav-back-button>
</ion-nav-back-button>


<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>

<ion-nav-buttons side="right">




<button   class="button button-icon button-clear ion-checkmark-round" ng-click="saveAdd()"></button>
<button   class="button button-icon button-clear ion-close-round" ng-click="discardAdd()"></button>
</ion-nav-buttons>

</ion-nav-bar>
<ion-content class="description-background">
Menu principal



</ion-content>
</ion-view>
