<ion-view view-title="Lista de ventas">
<ion-nav-bar class="bar bar-assertive colorBarra">
<ion-nav-back-button>
</ion-nav-back-button>


<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>




</ion-nav-bar>
  <ion-content>
     <form ng-submit="buscar()"  class="search ng-cloak">
          <label class="item item-input  barraBusqueda" >
              <i class="icon ion-search placeholder-icon letraNegra"></i>
              <input type="search" ng-model="filtro" placeholder="Buscar por nombre">
          </label>
      </form>
    <ion-list>
 <div class="list">

    <a  ng-repeat="sale in sales | filter:{ id: filtro }" class="item item-avatar" href="#" ng-click="displaySale(sale.id)">
      <img src="img/bill.jpg">
      <h2>Venta nº {{sale.id}}</h2>
      <i class="icon ion-chevron-right icon-accessory" style="float:right;"></i>
       <p>{{sale.date}}  - Total: {{sale.finalPrice}} €</p>


    </a>

</div>
</ion-list>
  </ion-content>
</ion-view>
